# Import Libararies

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

# Import Data

In [2]:
clean_df = pd.read_csv(r"C:\Users\josia\Desktop\Deep Learning Capstone\data_wrangling_cleaned_file.csv")

# Preprocessing

In [3]:
clean_df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

Convert object data types to boolean by getting dummies

In [4]:
model_df = pd.get_dummies(clean_df, columns=['sex', 'smoker', 'region'], drop_first = True)

In [5]:
model_df.head()

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,False,True,False,False,True
1,18,33.770,1,1725.55230,True,False,False,True,False
2,28,33.000,3,4449.46200,True,False,False,True,False
3,33,22.705,0,21984.47061,True,False,True,False,False
4,32,28.880,0,3866.85520,True,False,True,False,False

Scale all numeric columns in preparation for machine learning

In [6]:
scaler = StandardScaler()
model_df[['age', 'bmi', 'children']] = scaler.fit_transform(model_df[['age', 'bmi', 'children']])

In [7]:
model_df.head()

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,-1.440418,-0.453160,-0.909234,16884.92400,False,True,False,False,True
1,-1.511647,0.509422,-0.079442,1725.55230,True,False,False,True,False
2,-0.799350,0.383155,1.580143,4449.46200,True,False,False,True,False
3,-0.443201,-1.305052,-0.909234,21984.47061,True,False,True,False,False
4,-0.514431,-0.292456,-0.909234,3866.85520,True,False,True,False,False

In [8]:
model_df.dtypes

age                 float64
bmi                 float64
children            float64
charges             float64
sex_male               bool
smoker_yes             bool
region_northwest       bool
region_southeast       bool
region_southwest       bool
dtype: object

Convert booleans to integers

In [9]:
model_df[['sex_male', 'smoker_yes', 'region_northwest', 'region_southeast', 'region_southwest']] = model_df[['sex_male', 'smoker_yes', 'region_northwest', 'region_southeast', 'region_southwest']].astype(int)

In [10]:
model_df.head()

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,-1.440418,-0.453160,-0.909234,16884.92400,0,1,0,0,1
1,-1.511647,0.509422,-0.079442,1725.55230,1,0,0,1,0
2,-0.799350,0.383155,1.580143,4449.46200,1,0,0,1,0
3,-0.443201,-1.305052,-0.909234,21984.47061,1,0,1,0,0
4,-0.514431,-0.292456,-0.909234,3866.85520,1,0,1,0,0

In [11]:
model_df.to_csv('preprocessing_file.csv', index=False)